<a href="https://colab.research.google.com/github/ugohenrique/each/blob/main/EACH5002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
#Open dataSUS https://opendatasus.saude.gov.br/
#Open data https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/Leitos/2021-04-01/esus-vepi.LeitoOcupacao.csv
#  path to URL from Chrome DevTools Console
url = "https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/Leitos/2021-04-01/esus-vepi.LeitoOcupacao.csv"

#  read remote URL data to DataFrame
df = pd.read_csv(url)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
#Dataset dimension
df.shape

(751515, 21)

In [22]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 751515 entries, 0 to 751514
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   _id                    751515 non-null  object
 1   dataNotificacao        751509 non-null  object
 2   cnes                   751465 non-null  object
 3   ocupacaoSuspeitoCli    751507 non-null  float64
 4   ocupacaoSuspeitoUti    751507 non-null  float64
 5   ocupacaoConfirmadoCli  751508 non-null  float64
 6   ocupacaoConfirmadoUti  751508 non-null  float64
 7   saidaSuspeitaObitos    751405 non-null  float64
 8   saidaSuspeitaAltas     751405 non-null  float64
 9   saidaConfirmadaObitos  751497 non-null  float64
 10  saidaConfirmadaAltas   751496 non-null  float64
 11  origem                 751515 non-null  object
 12  _p_usuario             751515 non-null  object
 13  estadoNotificacao      751515 non-null  object
 14  municipioNotificacao   751515 non-null  object
 15  estado                 751514 non-null  object
 16  municipio              751514 non-null  object
 17  excluido               751515 non-null  bool
 18  validado               751515 non-null  bool
 19  _created_at            751515 non-null  object
 20  _updated_at            751515 non-null  object
dtypes: bool(2), float64(8), object(11)
memory usage: 110.4+ MB

In [23]:
#The columns in dataset
df.columns

Index(['_id', 'dataNotificacao', 'cnes', 'ocupacaoSuspeitoCli',
       'ocupacaoSuspeitoUti', 'ocupacaoConfirmadoCli', 'ocupacaoConfirmadoUti',
       'saidaSuspeitaObitos', 'saidaSuspeitaAltas', 'saidaConfirmadaObitos',
       'saidaConfirmadaAltas', 'origem', '_p_usuario', 'estadoNotificacao',
       'municipioNotificacao', 'estado', 'municipio', 'excluido', 'validado',
       '_created_at', '_updated_at'],
      dtype='object')

In [24]:
#show the first five rows of dataset
df.head(5)

          _id  ...               _updated_at
0  p5Ez41Zu6B  ...  2020-04-16T13:56:13.656Z
1  eUOMsSt7T7  ...  2020-08-01T20:08:13.116Z
2  QaG4oIBrMa  ...  2020-08-01T20:02:12.729Z
3  ifya31F3ZF  ...  2020-08-01T21:40:37.624Z
4  dkurDhelx9  ...  2020-08-01T21:37:53.664Z

[5 rows x 21 columns]

In [25]:
#show the last 5 rows of dataset
df.tail(5)

               _id  ...               _updated_at
751510  Ifh6tdqlHT  ...  2021-04-01T23:48:08.888Z
751511  w0S5csuNUv  ...  2021-04-02T00:17:19.434Z
751512  od8HJfcnxH  ...  2021-04-02T00:19:25.136Z
751513  bZWGCvbhoc  ...  2021-04-02T00:50:22.731Z
751514  x16UdUbijq  ...  2021-04-02T00:54:49.793Z

[5 rows x 21 columns]

In [19]:
df.value_counts()

_id         dataNotificacao           cnes       ocupacaoSuspeitoCli  ocupacaoSuspeitoUti  ocupacaoConfirmadoCli  ocupacaoConfirmadoUti  saidaSuspeitaObitos  saidaSuspeitaAltas  saidaConfirmadaObitos  saidaConfirmadaAltas  origem       _p_usuario        estadoNotificacao  municipioNotificacao  estado             municipio             excluido  validado  _created_at               _updated_at
zzzP0TYO6I  2020-11-06T03:00:08.640Z  6568343    49.0                 7.0                  5.0                    5.0                    0.0                  0.0                 1.0                    2.0                   parse-cloud  _User$z1FIwHrlze  Sergipe            Lagarto               Sergipe            Lagarto               False     False     2020-11-06T11:35:34.702Z  2020-11-06T11:35:34.702Z    1
JM7Fdab6V7  2021-02-01T03:00:00.000Z  2283239    0.0                  10.0                 0.0                    10.0                   0.0                  0.0                 0.0                    0.0                   parse-cloud  _User$x0Jh9W3F7R  Rio de Janeiro     Miguel Pereira        Rio de Janeiro     Miguel Pereira        False     False     2021-02-08T17:38:40.101Z  2021-02-08T17:38:40.101Z    1
JM6FYghEAc  2020-12-26T03:00:23.947Z  2267209    9.0                  7.0                  9.0                    7.0                    1.0                  1.0                 1.0                    2.0                   parse-cloud  _User$H3J6g7vlnJ  Rio de Janeiro     QuissamÃ£             Rio de Janeiro     QuissamÃ£             False     False     2020-12-26T23:18:22.124Z  2020-12-26T23:18:22.124Z    1
JM68gT115x  2020-11-24T10:02:26.000Z  2078252    0.0                  0.0                  11.0                   4.0                    0.0                  1.0                 0.0                    0.0                   RPA-SP       _User$HzwsO90KQW  SÃ£o Paulo         Birigui               SÃ£o Paulo         Birigui               False     False     2020-11-25T08:22:47.922Z  2020-11-25T08:22:47.922Z    1
JM5f20QimH  2021-02-03T00:00:00.000Z  9662561    0.0                  0.0                  0.0                    29.0                   0.0                  0.0                 0.0                    1.0                   RPA-SP       _User$HzwsO90KQW  SÃ£o Paulo         Barretos              SÃ£o Paulo         Barretos              False     False     2021-02-09T18:19:40.647Z  2021-02-09T18:19:40.647Z    1
                                                                                                                                                                                                                                                                                                                                                                                                                         ..
eiK2m6UIzd  2021-01-09T10:08:20.000Z  2381826.0  0.0                  0.0                  0.0                    0.0                    0.0                  0.0                 0.0                    0.0                   RPA-GO       _User$HzwsO90KQW  GoiÃ¡s             Ouro Verde de GoiÃ¡s  GoiÃ¡s             Ouro Verde de GoiÃ¡s  False     False     2021-01-10T08:20:21.632Z  2021-01-10T08:20:21.632Z    1
eiIVRLbnAF  2021-03-20T03:00:00.000Z  10545      89.0                 0.0                  2.0                    0.0                    0.0                  2.0                 0.0                    0.0                   parse-cloud  _User$mdvCCuRE4U  Distrito Federal   BrasÃ­lia             Distrito Federal   BrasÃ­lia             False     False     2021-03-21T10:36:11.985Z  2021-03-21T10:36:11.985Z    1
eiIEfJXLBw  2020-10-05T03:00:39.577Z  2183811.0  15.0                 0.0                  1.0                    0.0                    0.0                  0.0                 0.0                    0.0                   parse-cloud  _User$gEfDRO1iXb  Minas Gerais       Novo Cruzeiro         Minas Gerais       Novo Cruzeiro         False     False     2020-10-05T16:38:08.958Z  2020-10-05T16:38:08.958Z    1
eiI6dfEVaF  2021-03-04T03:00:00.000Z  6586767    51.0                 7.0                  0.0                    0.0                    0.0                  0.0                 0.0                    0.0                   parse-cloud  _User$gfO4gxeG5s  Rio de Janeiro     ParaÃ­ba do Sul       Rio de Janeiro     ParaÃ­ba do Sul       False     False     2021-03-05T14:20:42.219Z  2021-03-05T14:20:42.219Z    1
000MlabB5m  2020-11-22T03:00:00.000Z  2249537.0  4.0                  0.0                  1.0                    0.0                    0.0                  0.0                 0.0                    0.0                   parse-cloud  _User$HzwsO90KQW  Rio Grande do Sul  Viadutos              Rio Grande do Sul  Viadutos              False     False     2020-11-22T14:10:36.043Z  2020-11-23T15:46:39.183Z    1
Length: 751338, dtype: int64

<bound method Series.count of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
395    1051.0
396     244.0
397     292.0
398    1209.0
399    1160.0
Name: Óbitos por dia, Length: 400, dtype: float64>