<a href="https://colab.research.google.com/github/ugohenrique/each/blob/main/EACH5002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#Open data https://www.saopaulo.sp.gov.br/planosp/simi/dados-abertos/
#  path to URL from Chrome DevTools Console
url = "https://www.seade.gov.br/wp-content/uploads/2021/03/Dados-covid-19-estado.csv"

#  read remote URL data to DataFrame
df = pd.read_csv(url, sep=';' ,encoding='latin-1')

In [ ]:
#show the first five rows of dataset
df.head(5)

          Data  Total de casos  ...  Unnamed: 7  Unnamed: 8
0  26/fev/2020               1  ...         NaN         NaN
1  27/fev/2020               0  ...         NaN         NaN
2  28/fev/2020               0  ...         NaN         NaN
3  29/fev/2020               2  ...         NaN         NaN
4  01/mar/2020               0  ...         NaN         NaN

[5 rows x 9 columns]

In [ ]:
#show the last 5 rows of dataset
df.tail(5)

            Data  Total de casos  ...  Unnamed: 7  Unnamed: 8
395  27/mar/2021         2410498  ...         NaN         NaN
396  28/mar/2021         2420100  ...         NaN         NaN
397  29/mar/2021         2425320  ...         NaN         NaN
398  30/mar/2021         2446680  ...         NaN         NaN
399  31/mar/2021         2469849  ...         NaN         NaN

[5 rows x 9 columns]

In [ ]:
df['Casos por dia'].mean

<bound method Series.mean of 0          1
1          0
2          0
3          1
4          0
       ...
395    18124
396     9602
397     5220
398    21360
399    23169
Name: Casos por dia, Length: 400, dtype: int64>

In [ ]:
df['Óbitos por dia'].count

<bound method Series.count of 0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
395    1051.0
396     244.0
397     292.0
398    1209.0
399    1160.0
Name: Óbitos por dia, Length: 400, dtype: float64>